
@import '../../jockstrap';

header > h1 {
	text-align: center;
	margin: 0;
	padding: 5rem 0;
	background: $highlight-color;
	background: radial-gradient( lighten($highlight-color, 10) , $highlight-color );
	color: lighten($highlight-color, 40);
}


section,
article{
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
}

@media (min-width: 1200px){
	section,
	article{
		max-width: 55rem;
	}
}

@media (min-width: 1200px){
	section,
	article{
		max-width: 55rem;
	}
}

h1.section-header{
	border-bottom: 1px solid transparentize($highlight-color, 0.8);
}

p.intro{
	color: transparentize($base-color, 0.4);
}

.opensans{ font-family:'Open Sans', sans-serif; }
.raleway{ font-family: 'Raleway', sans-serif; }
.inconsolata{ font-family: 'Inconsolata', sans-serif; }